.right-text {text-align: right;}

.header-info {padding: 10px;}

.section-marker {color: red;}

.list-group-item {
    padding: .75rem 0;
    border: none;
}

.list-group-item, body{
    background: #e9ecef;
}

@media screen and (max-width: 768px) {
    .right-text {text-align: left;}
}

.post-img{
    max-width: 100%;
    margin: 15px 0;
    display: block;
}

.note{
    background: rgba(0,0,0, .1);
    padding: 15px;
    border-radius: 5px;
}

h3,h4,h5 {
    margin-top: 25px;
}

pre {
    margin: 0;
}